# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor specific
.vscode/
.idea/

# Node.js
node_modules/
venv_run/
